* {
    margin: 0;
    padding: 0;
}

:root {
    --color-green-dark: #339933;
    --color-orange-dark: #cc6600;
    --color-yellow: #cccc44;
    --color-blue: #006699;
    --color-white: #ffffff;
    --color-nav-trans: rgba(255, 255, 255, 0.5);
    --color-light-pink: #ff6666;
    --color-strong-pink: #ff0033;
    --color-strong-blue: #333399;
    --color-yellow2: #cccc00;
    --color-blue2: #99cccc;
    --color-shadow: rgba(0, 0, 0, 0.25);
    --color-overlay-background: rgba(0, 0, 0, 0.6);
    --color-overlay-type: rgba(0, 102, 153, 0.1);
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 95%;
    margin: auto;
    position: relative;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-size: 32px;
    font-weight: bold;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}

h4 {
    font-size: 20px;
    font-weight: bold;
}

h5 {
    font-size: 16px;
    font-weight: bold;
}

/* ============================header========================= */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header>nav>ul {
    display: flex;
    flex-direction: row;
    gap: 14px;
    list-style: none;
}

header>nav>ul a {
    display: block;
    padding: 14px 7px;
    width: 128px;
    text-align: center;
    border-top: 3px solid var(--color-green-dark);
    border-bottom: 1px solid var(--color-green-dark);
    text-decoration: none;
    color: var(--color-blue);
}

header>nav>ul a:hover {
    border-top: 3px solid var(--color-yellow);
    border-bottom: 1px solid var(--color-yellow);
    color: var(--color-orange-dark);
}

header>nav>ul>li>a.active {
    border-top: 3px solid var(--color-yellow);
    border-bottom: 1px solid var(--color-yellow);
    background-color: var(--color-orange-dark);
    color: var(--color-white);
}

.logo {
    font-weight: bold;
    color: var(--color-blue);
    text-shadow: 0px 4px 4px var(--color-shadow);
}

/* =======================bottom right pane========================== */

.bottom-right-nav-pane {
    display: flex;
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 5px;
    background-color: var(--color-white);
    box-shadow: 0px 1px 9px var(--color-shadow);
    border-radius: 5px;
}

.bottom-right-nav-pane a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 78px;
    height: 72px;
    text-decoration: none;
}

.bottom-right-nav-pane a:hover {
    background: radial-gradient(#e664648f, #ffffff, #ffffff);
}

.bottom-right-nav-pane a img {
    width: 32px;
    margin: 0px auto;
}

.bottom-right-nav-pane a p {
    margin-top: 5px;
    text-align: center;
    color: var(--color-blue);
}

/* =======================button======================= */
.button {
    border: 3px solid var(--color-blue);
    border-radius: 100px;
    box-shadow: 0 4px 6px var(--color-shadow);
    text-decoration: none;
    color: var(--color-blue);
    padding: 5px;
    background-color: var(--color-white);
}

/* =======================search======================= */
.search {
    display: flex;
    justify-content: start;
    border: 3px solid var(--color-green-dark);
    border-radius: 100px;
    box-shadow: 0 4px 6px var(--color-shadow);
    color: var(--color-green-dark);
    padding: 5px;
    background-color: var(--color-white);
}

.search>img {
    padding: 0 15px;
}

/* =======================overlay======================= */
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -2.5%;
    right: -2.5%;
    z-index: 100;
    background-color: var(--color-overlay-background);
    display: none;
}

.overlay>div {
    background-color: var(--color-white);
    border-radius: 10px;

    position: relative;

    display: flex;
    flex-direction: column;
}

.overlay>div>a>.close {
    position: absolute;
    right: 5px;
    top: 5px;
}

body.disable-scrollbars {
    height: 100%;
    overflow: hidden;
}

/* =======================main======================= */
main {
    width: 80%;
    margin: 15px auto;
    /* border: 1px solid; */
}

main>nav {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid var(--color-blue);
    color: var(--color-blue);
}

main>nav>a {
    color: var(--color-light-pink);
    text-decoration: none;
}

main>nav>a.active {
    color: var(--color-blue);
}

/* =======================footer========================== */

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 0px;
}

footer>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer>div>h4 {
    color: var(--color-blue);
}

footer>div>ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer>div>ul>li>a {
    text-decoration: none;
    color: var(--color-blue);
}

footer .footer-follow-us {
    text-align: left;
}

footer .footer-follow-us .follow-platform {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

footer .footer-follow-us .follow-platform img {
    width: 42px;
}

/* =========================home============================ */
main#home img {
    width: 100%;
}

/* =========================post============================ */
#post>.filter-box {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#post-filter {
    display: flex;
    align-items: center;
    gap: 10px;
}

#post-search {
    padding: 5px 50px;
}

#create-post-button {
    padding: 5px 50px;
}

#posts {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
}

#posts>.post-row {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
}

#posts>.post-row>.a-post {
    width: 355px;
    height: 462px;
    border: 1px solid;
    background-size: cover;
    background-position: center center;
    position: relative;
    box-shadow: 0 4px 4px var(--color-shadow);
    border-radius: 5px;
}

#posts>.post-row>.a-post-0 {
    background-image: url(./images/post/art-gfd11bb7f9_640.jpg);
}

#posts>.post-row>.a-post-1 {
    background-image: url(./images/post/boats-g97f73fe4f_640.jpg);
}

#posts>.post-row>.a-post-2 {
    background-image: url(./images/post/child-gf07d8d715_640.jpg);
}

#posts>.post-row>.a-post-3 {
    background-image: url(./images/post/flower.jpg);
}

#posts>.post-row>.a-post-4 {
    background-image: url(./images/post/happy-gd60b81fbb_640.jpg);
}

#posts>.post-row>.a-post-5 {
    background-image: url(./images/post/hop-vines-g299a2f871_640.jpg);
}

#posts>.post-row>.a-post-6 {
    background-image: url(./images/post/island.jpg);
}

#posts>.post-row>.a-post-7 {
    background-image: url(./images/post/lake-gf7d0da20e_640.jpg);
}

#posts>.post-row>.a-post-8 {
    background-image: url(./images/post/otter-gb24389bf8_640.jpg);
}

#posts>.post-row>.a-post-9 {
    background-image: url(./images/post/song-g363640277_640.jpg);
}

#posts>.post-row>.a-post-10 {
    background-image: url(./images/post/swan-g252aa2e53_640.jpg);
}

#posts>.post-row>.a-post-11 {
    background-image: url(./images/post/kangaroo-g805051a9e_640.jpg);
}

#posts .post-description {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    height: 160px;
    display: flex;
    justify-content: space-between;
    color: var(--color-white);
    padding: 10px;
}

.post-detail {
    width: 60%;
    height: 95%;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 8;
}

.post-listen {
    position: absolute;
    left: 0px;
    top: 53%;
}

.post-basic-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

/* create post */
#create-post-box>div {
    width: 745px;
    height: 653px;
    margin: 10vh auto;
    align-items: center;
}

#create-post-box h2 {
    display: block;
    width: 90%;
    color: var(--color-strong-blue);
    border-bottom: 1px solid var(--color-blue);
    text-align: center;
    margin: 15px 0;
}

.post-content {
    width: 90%;
    height: 371px;
    color: var(--color-strong-blue);
    background-color: var(--color-overlay-type);
    border-radius: 10px;
    padding: 10px;
}

.post-function {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.post-function>a {
    margin-top: 3px;
}

.post-function>.button {
    padding: 5px 20px;
}

#send-post {
    margin-top: 30px;
    padding: 5px 50px;
    background-color: var(--color-blue);
    color: var(--color-white);
}

/* send successfully */
.send-successfully>div,
.add-friends-successfully>div {
    width: 1176px;
    height: 378px;
    margin: 25vh auto;
    text-align: center;

    justify-content: center;
    align-items: center;
}

.send-successfully>div>h1,
.add-friends-successfully>div>h1 {
    color: var(--color-strong-blue);
    width: 70%;
}

/* =========================people============================ */
#find-people {
    display: flex;
    flex-direction: column;
}

#find-people>section {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-strong-blue);
}

#find-people>section>img {
    width: 50%;
}

#find-people>section>div>* {
    margin: 30px;
}

#find-people .people-title>h1:nth-child(2) {
    text-align: end;
}

#find-people .button {
    padding: 5px 35px;
}

/* invite-friends overlay */
#invite-friends>div,
#invite-arounds>div {
    width: 928px;
    height: 669px;
    margin: 10vh auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: var(--color-strong-blue);
}

#invite-friends .content,
#invite-arounds .content {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#invite-friends .content>div,
#invite-arounds .content>div {
    width: 45%;
    height: 540px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px solid var(--color-blue);
    overflow: hidden;
}

#invite-friends .content h5,
#invite-friends .content h6,
#invite-arounds .content h5 {
    text-align: center;
    margin: 5px auto;
}

#friends-contacts .friends-contacts-group>p,
#friends-contacts .friends-contacts-friends>p {
    text-align: center;
    color: var(--color-white);
    background-color: var(--color-blue);
    padding: 5px 0;
}

#friends-contacts .friends-contacts-group,
#friends-contacts .friends-contacts-friends {
    overflow: hidden;
}

#invite-friends .friends-entry,
#invite-arounds .friends-entry {
    display: flex;
    height: 72px;
    justify-content: space-between;
    border: 1px solid var(--color-blue);
    margin: -0.5px;
    align-items: center;
    padding: 0 10px;
}

#invite-friends .friends-entry>img,
#invite-arounds .friends-entry>img {
    width: 52px;
    height: 52px;
}

#invite-friends .friends-entry>.button,
#invite-arounds .friends-entry>.button {
    height: 20px;
    width: 72px;
    text-align: center;
}

#invite-friends .friends-entry>.button.active,
#invite-arounds .friends-entry>.button.active {
    box-shadow: 0 0 0 var(--color-shadow);
    color: var(--color-blue2);
    border-color: var(--color-blue2);
}

#friends-frequent>h5 {
    padding-bottom: 20px;
}

#friends-search {
    margin: 10px;
    box-shadow: 0 0 0 var(--color-shadow);
    color: var();
}

#friends-go {
    width: 100px;
    text-align: center;
    background-color: var(--color-blue);
    color: var(--color-white);
    border-color: var(--color-white);
}

/* invite-arounds overlay */
#invite-arounds #arounds-finding {
    border-width: 0px;
    justify-content: center;
}

/* video */
#video-pane {
    width: 100%;
    height: 100%;
    background-color: black;

    position: relative;
    display: flex;
    flex-direction: column;
}

.video-button {
    /* cursor: pointer; */
    border: 1px solid var(--color-blue);
    border-radius: 30px;
    width: 110px;
    height: 90px;
    background-color: var(--color-white);
    color: var(--color-blue);
    box-shadow: 0 4px 4px var(--color-shadow);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.stop-video {
    position: absolute;
    top: 5px;
    right: -35px;
    width: 75px;
    height: 95px;
    z-index: 100;
}

.video-button>a {
    text-decoration: none;
    color: var(--color-blue);
}

.video-button>img {
    width: 37px;
    height: 37px;
}

.video-function-botton {
    position: absolute;
}

.video-box {
    /* width: 308px; */
    width: 25%;
    height: 246px;
    ;
}

.video-box-row {
    display: flex;
    justify-content: center;
}

.video-box {
    background-size: cover;
    background-position: center;
    position: relative;
}

.video-box-1 {
    background-image: url(./images/people/video/0\ \(1\).png);
}

.video-box-2 {
    background-image: url(./images/people/video/0\ \(2\).png);
}

.video-box-3 {
    background-image: url(./images/people/video/0\ \(3\).png);
}

.video-box-4 {
    background-image: url(./images/people/video/0\ \(4\).png);
}

.video-box-5 {
    background-image: url(./images/people/video/0\ \(5\).png);
}

.video-box-6 {
    background-image: url(./images/people/video/0\ \(6\).png);
}

.video-box-7 {
    background-image: url(./images/people/video/0\ \(7\).png);
}

.video-box-8 {
    background-image: url(./images/people/video/0\ \(8\).png);
}

.video-box-9 {
    background-image: url(./images/people/video/0\ \(9\).png);
}

.video-box-10 {
    background-image: url(./images/people/video/0\ \(10\).png);
}

.video-box-bottom {
    position: absolute;
    bottom: 0;
    background-color: var(--color-white);
    left: 0;
    right: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#video-pane .video-function-botton {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 100;
    bottom: -30px;
    width: 100%;
}

.video-left-botton,
.video-right-botton {
    display: flex;
    gap: 20px;
}

/* transcription */
.transcription {
    width: 524px;
    height: 72px;
    position: fixed;
    top: auto;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0);
    display: block;
}

.transcription>div {
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.753);
    box-shadow: 0 4px 4px var(--color-shadow);
    backdrop-filter: blur(14px);
}

.transcription>div .close {
    width: 15px;
    height: 15px;
}

/* =======================activity========================== */
#activity>section {
    margin: 10px auto;
}

.activity-title {
    background-image: url(./images/activity/71.png);
    background-size: cover;
    background-position: center;

    height: 375px;
    position: relative;
}

.activity-title>div {
    position: absolute;
    bottom: 30px;
    left: 30px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    box-shadow: 0px 4px 4px var(--color-shadow);
    border-radius: 10px;
    width: 420px;
    height: 120px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--color-strong-blue);
}

.activity-box {
    display: flex;
    justify-content: space-around;
    background-size: cover;
}

.activity-box>div {
    width: 345px;
    height: 396px;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    cursor: pointer;
}

.activity-box-1 {
    background-image: url(./images/activity//0\ \(1\).png);
}

.activity-box-2 {
    background-image: url(./images/activity//0\ \(2\).png);
}

.activity-box-3 {
    background-image: url(./images/activity//0\ \(3\).png);
}

.activity-box h4,
.activity-box p {
    background-color: var(--color-blue);
    color: var(--color-white);
    text-align: center;
}

.activity-box h4 {
    width: 224px;
    height: 45px;
    border-radius: 5px 5px 0 0;
    line-height: 45px;
}

.activity-box p {
    width: 315px;
    height: 70px;
    padding: 15px;
    padding-top: 30px;
}

/* =======================series activity========================== */
#activity-series h2 {
    margin: 15px;
}

#activity-series .a-big-box {
    background-size: cover;
    background-position: center;
}

#activity-series .a-big-box-1 {
    background-image: url(./images/activity/series/0\ \(1\).png);
}

#activity-series .a-big-box-2 {
    background-image: url(./images/activity/series/0\ \(2\).png);
}

#activity-series .a-big-box-3 {
    background-image: url(./images/activity/series/0\ \(3\).png);
}

#activity-series>section {
    color: var(--color-strong-blue);
}

#activity-series>section>nav {
    display: flex;
    gap: 30px;
    margin: 30px;
}

#activity-series>section>nav>a {
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: var(--color-strong-blue);
}

#activity-series>section>nav>a.active {
    color: var(--color-strong-pink);
}

#activity-series>section .big-pane {
    display: flex;
    justify-content: space-around;
}

#activity-series>section .big-pane .a-big-box {
    width: 343px;
    height: 384px;
    position: relative;
}

#activity-series>section .big-pane .a-big-box .content {
    height: 130px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0), black);
    left: 12px;
    right: 12px;
    border-radius: 0 0 20px 20px;

    color: var(--color-white);
}

#activity-series>section .small-pane .small-box-row {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin: 10px auto;
}

#activity-series>section .a-small-box {
    width: 497px;
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--color-strong-blue);
    border-left-width: 6px;
    padding: 10px 20px;
}

/* =======================live activity========================== */
.live-label {
    width: 146px;
    height: 36px;
    background-color: var(--color-green-dark);
    color: var(--color-white);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 10px;
}

.live-pane-row {
    display: flex;
    justify-content: space-around;
    margin: 10px;
}


.a-live-box {
    width: 343px;
    height: 158px;
    border: 1px solid var(--color-blue);
    display: flex;
    justify-content: stretch;
}

.a-live-box.hide{
    visibility: hidden;
}

.a-live-box>img {
    width: 160px;
}

.a-live-box .content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.a-live-box .content .button {
    height: 14px;
    padding: 0 auto;
    line-height: 14px;
}

/* =======================Calendar, mailbox, setting========================== */
main>.center>img {
    width: 100%;
    display: block;
    margin: auto;
}
main>.center {
    margin: 15px auto;
}